@use "../../../../app/styles/variables.scss" as *;

.share_icons {
  width: fit-content;
  display: flex;
  gap: rem(12);

  button {
    height: 32px;
    svg {
      &:hover {
        animation: bump 500ms ease-out;
      }
    }
  }
}

@keyframes bump {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.4, 1.2);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.9, 0.9);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.08, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}
