@use "../../../../src/app/styles/variables.scss" as *;

.articles_grid {
  grid-area: articles;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: rem(80);
  @media ($mxxl) {
    display: flex;
    flex-direction: column;
  }
}

.articles_section {
  padding: rem(160) 0;
  @media ($mobile) {
    padding: rem(80) 0;
  }
}

.page_header {
  padding: rem(160) 0;
  border-bottom: 1px solid $border-color-dark;
  @media ($mobile) {
    padding: rem(80) 0;
  }
  // @media ($msm) {
  //   padding: rem(40) 0;
  // }
}
.page_header_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  @media ($mobile) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  h1 {
    font-size: rem(80);
    text-transform: uppercase;
    margin-bottom: rem(20);
    @media ($mobile) {
      font-size: rem(48);
    }
    @media ($msm) {
      font-size: rem(32);
    }
  }

  h2 {
    text-align: right;
    font-size: rem(28);
    @media ($mxl) {
      text-align: left;
      font-size: rem(24);
    }
    @media ($msm) {
      font-size: rem(18);
    }
  }
}
