@use "../../../styles/variables.scss" as *;

.btn_main {
  color: $color-white;
  border: 1px solid $border-color-dark;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: rem(20);
  padding: rem(10) rem(40) rem(10) rem(40);
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  width: fit-content;
  height: fit-content;

  &:before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: scaleY(0);
    transform-origin: top;
    z-index: 1;
    content: "";
    transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    background-color: $color-white;
  }
  &:hover {
    .btn_title {
      color: $color-black;
    }
    &::before {
      transform: scaleY(1);
      transform-origin: bottom;
    }
  }
}
.btn_title {
  z-index: 2;
  position: relative;
}
